*{
  margin: 0px;
  padding: 0px;
}
/*for seamless iframe of facebook */
.transparent_widget {background-color:green}

@media only screen and (min-width:320px)  { 
.forkit {
  left: 0;
  width: 53px;
  height: 200px;
}}
@media only screen and (min-width:768px)  { 
.forkit {
  left: 53px;
  width: 200px;
  height: 200px;

}}
@media only screen and (min-width:1024px) { 
.forkit {
  left: 53px;
  width: 200px;
  height: 200px;

}}
@media only screen and (min-width:1900px) { 
.forkit {
  left: 53px;
  width: 300px;
  height: 300px;
}
}

.forkit {    
  position: absolute;
  top: 0;
  z-index:999;
  color: #000;
  font-weight:bold;
 
  text-decoration: none;}

.forkit a:hover{color:black}

  .forkit .tag {
    left:100px;
    display: block;
    height: 300px;
    width: 300px;
    background-image: url(http://www.soulsax.com/drupal/sites/all/themes/soulsax_zurb/images/star3.png);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1em;
    -webkit-transform-origin: 15px 0px;
       -moz-transform-origin: 15px 0px;
        -ms-transform-origin: 15px 0px;
         -o-transform-origin: 15px 0px;
            transform-origin: 15px 0px;
  }
  .forkit .tag:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .forkit .string {
    display: block;
    height: 1px;
    width: 0px;
    position: absolute;

    background: rgba( 170, 123, 43, 0.7 );
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

    -webkit-transform-origin: 0px 0px;
       -moz-transform-origin: 0px 0px;
        -ms-transform-origin: 0px 0px;
         -o-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
  }


.forkit-curtain {
  position: absolute;
  width: 100%;
  height:100%;
  top: -100%;
}