@font-face {
  font-family: 'RotisSemiSansStd';
  src: url("266130_0_0.eot");
  src: url("266130_0_0.eot?#iefix") format("embedded-opentype"), url("266130_0_0.ttf") format("truetype"), url("266130_0_0.woff") format("woff"), url("266130_0_0.svg#wf") format("svg");
  font-style: normal;
  font-weight: normal;
}
